body {
    background-image: url(media/background\ lol.png); 
    font-family: 'Balsamiq Sans', cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

.title {
    color: yellow;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.outline {
    text-shadow: -2px -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255);
}

.inandout {
    transition: transform 0.25s;
}

.inandout:hover {
    transform: scale(0.9);
}